.slider-img1 {
    height: 550px;
    width: 100%;
}

.slider-img1 img {
    width: 100vw;
}

.carousel-p {
    font-size: 1.9rem;
    color: rgb(67, 7, 33);
}

.carousel-head {
    font-size: 4rem;
    color: rgb(67, 7, 33);
}