.works-editext {
    font-size: 25px;
    color: #b8336aff;
}

.works-para {
    text-align: justify;
    width: 320px;
    color: #424242;
}

.padi {
    padding-top: 50px;
    padding-bottom: 30px;
}
.works h2{
    color: rgb(171, 44, 97);
}
.works svg {
    color: #3f3f3f !important;
}